<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{titulo}}</h1>
    <p>{{descricao_exercicio}}</p>

    <form method="post">
        {% csrf_token %}
        <input type="number" name="valor1">
        <input type="number" name="valor2">
        <button type="submit">Enviar</button>
    </form>

    {% if total %}
        <h2>Total: {{total}}</h2>
    {% endif %}
</body>
</html>