<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'ex1' %}">Exercicio 1 - Hellow World</a>
    <br>
    <a href="{% url 'ex2' %}">Exercicio 2 - Calculo Total</a>
    <br>
    <a href="{% url 'ex3' %}">Exercicio 3 - Nome e Idade</a>
    <br>
    <a href="{% url 'ex4' %}">Exercicio 4 - Soma de dois Numeros</a>
    <br>
    <a href="{% url 'ex5' %}">Exercicio 5 - Quantidade de Caracteres de uma Palavra</a>
    <br>
    <a href="{% url 'ex6' %}">Exercicio 6 - Formar frases com 5 palavras</a>
    <br>
    <a href="{% url 'ex7' %}">Exercicio 7 - Número Somado dele mesmo</a>
    <br>
    <a href="{% url 'ex8' %}">Exercicio 8 - Número somado mais 1</a>
    <br>
    <a href="{% url 'ex9' %}">Exercicio 9 - "Olá, [nome]!"</a>
    <br>
    <a href="{% url 'ex10' %}">Exercicio 10 -Duas Variáveis Inteiras e Somar esses Valores</a>
    <br>
</body>
</html>